<div class="container2">
  <h2>Sobre Nosotros</h2>
  <p class="descripcion">
    MegaSuper Mario es un proyecto creado por estudiantes de ingeniería en sistemas con el propósito de integrar creatividad, tecnología y experiencia de usuario.
    Somos un equipo comprometido con el desarrollo de soluciones innovadoras, aplicando nuestros conocimientos en diseño, desarrollo web, programación y bases de datos.
  </p>
</div>

<div class="container">
  <div class="box box-1" style="--img: url('assets/vania.jpg');" data-text="Vania"></div>
  <div class="box box-2" style="--img: url('assets/axel vaquero.jpg');" data-text="Axel"></div>
  <div class="box box-3" style="--img: url('assets/hannia.jpg');" data-text="Hannia"></div>
  <div class="box box-4" style="--img: url('assets/saul2.jpg');" data-text="Saul"></div>
  <div class="box box-5" style="--img: url('assets/ruan.jpg');" data-text="Ruan"></div>
</div>
